# MyMark Monolith properties file. Rename this file and remove the .sample extension, and replace the 
# placeholder values below.

db.driverClass=com.mysql.jdbc.Driver
# Database url, username and password should be specified in environment variables

#Hibernate Configuration
hibernate.format_sql=true
hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.ejb.naming_strategy=org.hibernate.cfg.ImplicitNamingStrategy 
hibernate.show_sql=false

entitymanager.packages.to.scan=com.mymark.app.data.domain
