commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
   "/opt/elasticbeanstalk/hooks/appdeploy/post/00expand-war.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
            #!/usr/bin/env bash
            for file in /var/lib/tomcat8/webapps/ROOT/*.war
            do
              echo moving $file to webapps dir. The file will be automatically expanded by Tomcat
              sudo mv $file -d /var/lib/tomcat8/webapps/
            done
            true
            
